/* :root {
    
    foreground: #3AA66E;
} */

header {
    justify-content: space-between;
    flex-direction: row;
    background-color: #0092e7;
    height: 7vh;
}

header ul {
    position: relative;
    top: 30%;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    padding-right: 40px;
}

p {
    font-size: 120%;
    display: inline;
}

.start-menu p {
    display: block;
}

#start-button{
    display: block;
    height: 50px;
    width: 20%;
    margin: 10%;
    position: relative;
    left: 30%
}

.game-window {
    display: flex;
    justify-content: center;
    background-color: #006bde;
    height: 93vh;
}

#answer-result {
    font-weight: bold;
    font-size: 120%;
    background-color: #e1f4ff;
    padding: 5px;
    border-radius: 3px;
    display: none;
}

#start-menu,
#quiz-game,
#submit-result,
#scoreboard {
    position: relative;
    top: 10%;
    max-width: 800px;
    min-width: 400px;
    padding: 60px;
    max-height: 70%;
    border-radius: 10px;
    background-color: #004ca3;
    color: white;
}

#answer-list {
    display: flex;
    flex-direction: column;
}

/* #answer-list div {
    display: inline;
    color: white;
    background-color: #01371b;
    padding: 5px;
    border-radius: 10px;
} */

button {
    font-size: 120%;
    background-color: #005aba;
    color: white;
    border-radius: 10px;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 250%;
}

.answer {
    background-color: #0092e7;;
    border-radius: 5px;
    display: block;
    list-style-type: none;
}

header ul li {
    padding: 0;
    font-size: 120;
    color: white;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#view-score:hover {
    color: antiquewhite;
    text-shadow: 2,2,2  black;
}

button:hover{
    background-color: #0f288e;
    color: white;
    border-radius: 10px;
}
 /* body {
    display: flex;
    justify-content: center
}  */
